/src/** linguist-vendored
/examples/* linguist-vendored
/bindings/** linguist-generated=true

src/grammar.json -diff
src/node-types.json -diff
src/parser.c -diff

# Zig bindings
build.zig linguist-generated
build.zig.zon linguist-generated
